.projects_container {
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  column-gap: 1.8rem;
}

.projects_content {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--container-color);
  padding: 6rem 0 2rem 2.5rem;
}

.projects_title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
  font-weight: var(--font-medium);
}

.projects_buttons_container {
  display: flex;
  gap: 1em;
}

.projects_button {
  color: var(--title-color);
  font-size: var(--small-font-size);
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.projects_button i {
  transition: 0.3s;
  font-size: 1rem;
}

.projects_button:hover i {
  transform: translateX(00.25rem);
}

.github_button:hover i {
  transform: rotate(360deg);
}

.projects_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--z-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.projects_modal_content {
  width: 500px;
  position: relative;
  background-color: var(--container-color);
  padding: 4.5rem 2.5rem 2.5rem;
  border-radius: 1.5rem;
}

.porjects_modal_close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.projects_modal_title,
.projects_modal_description {
  text-align: center;
}

.projects_modal_title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 1rem;
}

.projects_modal_description {
  font-size: var(--small-font-size);
  padding: 0 3.5rem;
}

.projects_modal_projects {
  row-gap: 0.5rem !important;
}

.projects_modal_project {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.projects_modal_project i {
  color: var(--title-color);
  font-size: 1.1rem;
}

.projects_modal_info {
  font-size: var(--small-font-size);
}

/* Active modal */
.active_modal {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 992px) {
  .projects_container {
    grid-template-columns: repeat(3, 218px);
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .projects_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects_content {
    padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .projects_modal_content {
    padding: 4.5rem 1.5rem 2.5rem;
    margin: 1em;
  }

  .projects_modal_description {
    padding: 0;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .projects_container {
    grid-template-columns: max-content;
  }

  .projects_content {
    padding-right: 6rem;
  }
}
