.scrollUp {
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: .3rem .5rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollUp_icon {
    font-size: 1.5rem;
    color: var(--container-color);
}

.scrollUp:hover {
    background-color: var(--title-color-dark);
}

.show_scroll {
    bottom: 3rem;
}


@media screen and (max-width: 992px) {
    .scrollUp {
        right: 1.3rem;
        padding: .25rem .4rem;
    }

    .scrollUp_icon {
        font-size: 1.25rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .show_scroll {
        bottom: 5.4rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .scrollUp {
        right: 1rem;
    }
}